# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
android/gram_setu_android.iml
gram_setu.iml

# OS-specific
.DS_Store
Thumbs.db

# Node.js
backend/node_modules/
backend/package-lock.json

# Environment
.env
*.log
